.aboutdiv1{
    font-size: xx-large;
    background-color: blue;
}
.aboutdiv1 > h1{
    margin-top: 0px;
    margin-bottom: 0px;
}
.aboutdiv1 > p{
    color: rgb(182, 48, 75);
    margin-top: 0px;
    font-weight: bolder;
}