.aboutdiv1{
    font-size: xx-large;
    background-color: blue;
}
.aboutdiv1 > h1{
    margin-top: 0px;
    margin-bottom: 0px;
}
.aboutdiv1 > p{
    color: rgb(182, 48, 75);
    margin-top: 0px;
    font-weight: bolder;
}
h2{
    background-color: black;
    color: yellow;
    text-align: center;
    margin: -30px;
    margin-bottom: 5px;
    margin-top: 10px;
}
img{
    width:49%;
    
}
.aboutdiv3{
    width: 50%;
    float: right;
    margin-top: -2px;
    margin-left: -20px;
    background-color: beige;
    
}
h3{
    color: rgb(163, 28, 96);
}
.p{
    font-weight: 700;
    color: black;
}
.aboutdiv2{
    background-image: url('https://thumbs.dreamstime.com/b/close-up-hands-making-heart-symbol-background-blue-sky-clouds-love-charity-valentines-day-concept-close-up-189993194.jpg');
    height: ;
}


